.removed {
  border: none;
  border-radius: 1em;
  background-color: var(--maroon);
  color: white;
  width: 6em;
  height: 2.5em;
  margin: 1.5em;
}
.removed:hover {
  cursor: pointer;
  border: 0.2em solid gray;
}
.span {
  margin-left: 0.1em;
}
.pressed {
  border: 0.1em solid var(--maroon);
  border-radius: 1em;
  color: black;
  background-color: white;
  width: 6em;
  height: 2.5em;
  margin: 1.5em;
}
