.page_container {
  margin: 5em 1em;
}
.single_movie {
  margin: 5em 5em 10em 5em;
}
.single_movie > * {
  padding: 1em;
}
.single_movie h1 {
  font-size: 30px;
  margin: 0;
}
.single_movie h2 {
  margin: 0;
  display: inline-block;
  font-weight: lighter;
  font-style: italic;
}
.single_movie img {
  float: left;
  width: 30%;
  height: 60%;
  object-fit: cover;
}
.single_movie_right {
  margin-left: 20em;
}
.single_movie_right > * {
  margin: 1em;
}
.single_movie_header {
  border-bottom: 1px solid black;
  margin-bottom: 3em;
}
