.page_container {
  margin: 3em 1em;
}
.single_movie {
  padding: 5em 1em;
}
.single_movie > * {
  padding: 1em;
}
.single_movie h1 {
  font-size: 30px;
  margin: 0;
}
.single_movie h2 {
  margin: 0;
  display: inline-block;
  font-weight: lighter;
  font-style: italic;
}
.single_movie_right > * {
  margin: 1em;
}
.single_movie_header {
  border-bottom: 1px solid black;
  margin-bottom: 3em;
}
.single_movie img {
  width: 300px;
  height: 430px;
  object-fit: cover;
}
