.movie {
  width: 400px;
  height: 600px;
}
.movie > h1 {
  height: 100px;
  font-size: 15px;
  overflow: hidden;
}
.movie > * {
  margin: 0.2em;
}
.movie .link {
  font-size: 20px;
}
.movie_content {
  display: flex;
  height: 200px;
}
.movie_settings {
  display: flex;
  justify-content: center;
}
.movie img {
  height: 200px;
  width: 130px;
  object-fit: cover;
}
.movie_image_container {
  display: block;
}
.movie p {
  margin: 1em;
  text-align: start;
}
.movie_description_contailer {
  display: block;
}
