.btn {
  display: block;
  border-radius: 0.5em;
  background-color: var(--maroon);
  padding: 0.5em;
  margin: 2% 5%;
  width: 90%;
  border: none;
  color: white;
  font-size: 15px;
}
.btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: black;
}
